.reg{
    padding: 20px;
}
.account-img {
    height: 250px;
    width: 250px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  .landing{
      margin-top: 2%;
  }
  .blog-img{
    height: 80px;
    width: 80px;
    
    margin-bottom: 16px;
  }
  #usern{
      margin-left: 20px;
  }
   
  .cardquote{
      background-color:rgba(116, 116, 116, 0.786);
      padding: 3%;
  }
  #submit{
      background-color: green;
      border-radius: 5px;
  }
  #profbutton,#ref,#subs{
    border-radius: 5px;  
  }
  .navbarbg{
      background-color:black;
  }
 
  .bg{
      background-color:black;
      padding: 4px;
      color: cadetblue;
      border-radius: 6px;
  }
  h1,h4{
    font-family: 'El Messiri', sans-serif;
  }
  .black{
      color:cadetblue;
  }
#modalComment{
    border-radius: 5px;
}
.singleblog{ 
color: black;
}